@import "tailwindcss";

@theme {
  /* ... */
}

body {
  background-color: #022329;
}

@layer base {
  .font-outline-1 {
    -webkit-text-stroke: 1px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

div.recipe-search-item{
  @apply p-2 bg-teal-400/25 hover:bg-fuchsia-100/20 rounded-2xl m-1 cursor-pointer;
}